{% extends 'adminlte/login.html' %}
{%load bootstrap4 %}


{% block logo %}
<div class="login-logo">
    {# Mirrors block names used in _main_header.html #}
<!--    {% block logo_text %}<b>IFNMG</b>{% endblock %}-->
</div>
{% endblock %}
{% block login_errors %}
{% endblock login_errors %}
{% block login_form %}

<div class="card-primary">
    <div class="card-header">
        <div class="card-title">Login</div>
    </div>
        <div class="card-body">

        <form method="POST">
            {% csrf_token%}
            {% bootstrap_form form %}

            <a href="{% url 'accounts:resetar_senha'%}" class="nav-link"><small>Esqueceu sua senha </small></a>
            <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Logar Google</a>
        </div>

</div>
{% endblock login_form %}







