{% extends 'base.html'%} {%block title%} Detalhe do Edital {%endblock title%}
{%block content%}
<div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<a
				href="{% url 'editais:criar_pergunta' edital.id %}"
				class="btn btn-primary mb-2"
				>Pergunta</a
			>
		</div>
	</div>
	<div class="card">
		<div class="card-header pb-1">
			<div class="title ">Detalhe do Edital</div>
		</div>
		
		<div class="card-body">

			<ul class="list-group p-0">
					<li class="list-group-item "><b>Descricao: </b>{{edital.descricao}}</li>
					<li class="list-group-item"><b>Arquivo: </b><a href="/media/{{edital.arquivo }} " target="_blank">{{MEDIA_URL}}{{ edital.arquivo}}</a></li>
					<li class="list-group-item"><b>Titulo: </b>{{edital.titulo}}</li>
				
				</ul>
			
		</div>

	

		

		{% for per in perguntas %}

		<div class="card-header pb-3">
			<div class="title"><b>Pergunta :</b></div>
			<div
				class="text-primary"
				data-toggle="collapse"
				data-target="#collapseOne2--{{per.id}}"
				aria-expanded="false"
				aria-controls="ollapseOne2--{{per.id}}"
			>
				<span> {{per.descricao}}</span>
			</div>
		</div>

		<div id="collapseOne2--{{per.id}}" class="collapse multi-collapse">
			<div class="float-right">
				<a
					href="{%url 'editais:editar_pergunta' per.pk %}"
					class="btn btn-warning mt-4 ml-2 mr-2 mb-2"
				>
					Editar</a
				>
				<a
					href="%url 'editais:pergunta_delete' per.id %}"
					class="btn btn-danger mt-4 ml-2 mr-2 mb-2"
					>Apagar</a
				>
			</div>
			<div class="card-body">
				{% for alt in per.busca_alternativa.all%}
				<p>{{alt.descricao}}</p>
				{%endfor%}
			</div>
		</div>
		{%endfor%}

		<br />

			<div class="row">
				<div class="col-md-12 ml-3 pb-3">
					<a href="{% url 'edital:listar_editais'%}" class="btn btn-success">Voltar</a>
					<!-- <a href="{% url 'edital:editar_edital' edital.id %}" class="btn btn-warning">Editar</a> -->
				</div>
			</div>

		
	</div>
</div>

{%endblock content%}
