{% extends 'base.html'%}
{%block title%}
Listar de Editais
{%endblock title%}

{%block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{% url 'editais:criar_edital'%}" class="btn btn-primary mb-2">Adicionar</a>
        </div>
       
    </div>
    <div class="card-success">
        <div class="card-header">
            <div class="card-title title">
                Listar de Editais
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col"> Descrição</th>
                        <th>Status</th>
                        <th>Opção</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for edital in editais%}
                    <tr>
                        <td><a href="{% url 'edital:edital_detalhe' edital.pk %}" >  {{edital.titulo}} </a></td>
                        <td>{{edital.descricao}}</td>
                        <td>{{edital.status}}</td>
                        <td><a href="{% url 'edital:editar_edital' edital.id %}" class="text-warning m-2"> <i class="fa fa-edit"></i></a>
                            <a href="{% url 'edital:remover_edital' edital.id %} " class="text-danger ml-2"><i class="fa  fa-times "></i></a></td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        {%include 'includes/pagination.html'%}
    </div>
</div>
{%endblock content %}
