{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{% url 'accounts:criar_usuario_admin'%}" class="btn btn-primary mb-2">Adicionar</a>
        </div>
    </div>
    <div class="card-success">
        <div class="card-header">
            <div class="card-title">
                Listar de Usuários
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Data Nascimento</th>
                        <th>Opção</th>

                    </tr>
                    </thead>
                    <tbody>
                    {%for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.telefone}}</td>
                        <td>{{usuario.data_nascimento}}</td>
                            <td><a href="{% url 'accounts:editar_usuario' usuario.id %}" class="text-warning m-2"> <i class="fa fa-edit"></i></a>
                                <a href="#" class="text-danger ml-2"><i class="fa  fa-times "></i></a></td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
              {%include 'includes/pagination.html'%}
        </div>
    </div>
</div>
{% endblock content %}